# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# files created by the Qt Editor
grip2.*

*.lastload
CMakeLists.txt.user
CMakeCache.txt

doc/html
doc/latex
build
qtcreator-build